name: Terraform Workflow

on:
  push:
    branches:
      - main   
  pull_request:
    branches:
      - main   # Trigger on pull request to the main branch

jobs:
  terraform:
    name: Terraform Apply
    runs-on:  [self-hosted]

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v2  

      - name: path
        run : ls

      # Terraform Init 
      - name: Terraform Init
        run:  terraform init

      # Terraform Format Check 
      - name: Terraform Format Check
        run:  terraform fmt -check

      # Terraform Plan 
      - name: Terraform Plan
        run:   terraform plan

      # Terraform Apply - Apply changes to AWS infrastructure
      - name: Terraform Apply
        if: github.event_name == 'push'  # Apply only on direct push (not on PR)
        # for apply use terraform apply & for delete use terraform destroy
        run: terraform apply -auto-approve

      # Output Terraform State (optional)
      - name: Terraform State Output
        run: terraform output
