name: Terraform Workflow

on:
  push:
    branches:
      - main   # Trigger on push to the main branch
  pull_request:
    branches:
      - main   # Trigger on pull request to the main branch

jobs:
  terraform:
    name: Terraform Apply
    runs-on:  [self-hosted]

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v2  
        
      - name: finding path 
        run : pwd

      - name: path
        run : ls

      # Terraform Init - Initializes the Terraform working directory
      - name: Terraform Init
        run: terraform init

      # Terraform Format Check (optional but recommended)
      - name: Terraform Format Check
        run: terraform fmt -check

      # Terraform Plan - Shows what Terraform will do without actually doing it
      - name: Terraform Plan
        run: terraform plan

      # Terraform Apply - Apply changes to AWS infrastructure
      - name: Terraform Apply
        if: github.event_name == 'push'  # Apply only on direct push (not on PR)
        run: terraform apply -auto-approve

      # Output Terraform State (optional)
      - name: Terraform State Output
        run: terraform output
