name: Terraform Workflow

on:
  push:
    branches:
      - main   # Trigger on push to the main branch
  pull_request:
    branches:
      - main   # Trigger on pull request to the main branch

jobs:
  terraform:
    name: Terraform Apply
    runs-on:  [self-hosted ubuntu Linux x64]

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v2

      # Set up Terraform
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: '1.10.4'  # Specify the Terraform version you need

      # Configure AWS credentials using GitHub Secrets
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          #aws-region: ${{ secrets.AWS_REGION }}

      # Terraform Init - Initializes the Terraform working directory
      - name: Terraform Init
        run: terraform init

      # Terraform Format Check (optional but recommended)
      - name: Terraform Format Check
        run: terraform fmt -check

      # Terraform Plan - Shows what Terraform will do without actually doing it
      - name: Terraform Plan
        run: terraform plan

      # Terraform Apply - Apply changes to AWS infrastructure
      - name: Terraform Apply
        if: github.event_name == 'push'  # Apply only on direct push (not on PR)
        run: terraform apply -auto-approve

      # Output Terraform State (optional)
      - name: Terraform State Output
        run: terraform output
